{% extends 'chat/base.html' %}
        {% load static %}
{% block title %} register {% endblock %}
             {% block showdata %}
    <div class="wrapper">
      <div class="title">Register Form</div>
      <form method="post" enctype="multipart/form-data" id="register_form">
        {% csrf_token %}
          <div class="field">
          <input type="text" name="username" required >
          <label>Username</label>
        </div>
        <div class="field">
          <input type="email" name="email" required>
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
          <div class="field">
          <input type="text" name="mobile_number" required>
          <label>Mobile</label>
        </div>
          <div class="field">
          <input type="file" class="pt-2" name="profile_photo" required>
        </div>

        <div class="field">
          <input type="submit" value="Register">
        </div>
        <div class="signup-link">Already a user ?.. <a href="{% url 'chat:login' %}">Login</a></div>
      </form>
    </div>
    {% endblock %}

